body{
    background: gainsboro;
}

.svgBox {
    height:400px;
    width:100%;
    overflow-y: scroll;/* 设置可以滚动看么？*/
}

svg{
    background:white;
}

::-webkit-scrollbar {display:none;}

