/*
em is a computer unit, which equals 16px
 */


.controlBox{
    width: 15%;
    height: 650px;
    display:inline-block;
    float: left;
    margin-left:2%;
}

#city{
    background-color:#325093;
    color:white;
    overflow:hidden;
    height:30px;

  /*  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

#city select{
    background: #325093;
    height: 30px;

}

.svgBox{
    width: 35%;
    height: 650px;
    display:inline-block;
    float:left;
    margin-left:2%;
}



.buttonBox{
    display:inline-block;
    float:right;
    margin-right: 5%;
}

.button {
    background-color: #325093;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s;
    width: 200px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


.roadPath {
    fill: none;
    stroke: gray;
    stroke-width: 1.5;
}

#copyRight {
    background-color:transparent;
    color:#325093;
    clear:both;
    text-align:center;
    padding:5px;
}